@charset "utf-8";
/* CSS Document */
@font-face{
	font-family: 'iransans';
	src: url(../fonts/IranianSans.eot) format('eot'),
		url(../fonts/IranianSans.ttf) format('ttf'),
		url(../fonts/IranianSans.woff) format('woff');
}
body{
	direction: rtl;
}
header{
	width: 970px;
	height: 200px;
	margin: 10px auto 0;
	background-image: url(../images/m2.png);
}


header div{
	background-color: #d475fa;
	opacity: 0.8;
	
	
}
header h1{
	color: #ffffff;
	font-family: iransans;
	padding: 10px 20px 0 0;
}
nav{
	width: 970px;
	margin: 10px auto 0;
	
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(51, 51, 51);
}

nav li {
    float: right;
}

nav li a {
	font-family: iransans;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
   text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: rgb(152, 67, 201);
}
.main{
	direction: rtl;
	width: 970px;
	height: 420px;
	margin: 5px auto 5px;
}
.content{
	background-color: rgb(232, 190, 252);
	width: 710px;
	height: 420px;
	float: left;
}
.sidebar{
	background-color: rgb(232, 190, 252);
	width: 250px;
	height: 420px;
	float: right;
}
.sidebar{
	list-style-type: none;
	
	color: cyan;
}
.sidebar ul{
	font-family: iransans;
}
.sidebar ul li a{
display: block;
text-decoration: none;
}
.sidebar ul li a:hover{
	background-color: rgb(126, 126, 126);
	color: white;
}
.content article p{
	font-family: iransans;
	
}
article img{
	width: 150px;
	height: 150px;
	display: block;
	margin: auto;
}
.to_top{
position: fixed;
right: -100px;
bottom: 10px;
cursor: pointer;
}